*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eff6fc;
}

h1 {
    font-family: "Reenie Beanie", serif;
    font-size: 4em;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-bottom: 3em;
    text-align: center;
    height: 15em;

    --mask:
    radial-gradient(48.28px at 50% calc(100% - 68.25px),#000 99%,#0000 101%) calc(50% - 70px) 0/140px 100%,
    radial-gradient(48.28px at 50% calc(100% + 33.25px),#0000 99%,#000 101%) 50% calc(100% - 35px)/140px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    background-color: #4a90e2;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 20px;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 2em;
  font-size: 20px;
  padding: 0px 20px;
}

a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-decoration: none;
  color:white;
}

nav ul li:hover {
    padding: 0px 20px;
    background-color: rgba(247, 247, 247, 0.5);
    border-radius: 24px;
}

/* DROPDOWN --------------------------------*/
#menu {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 20px;
    width: 100%;
    position: absolute;
    top: 9em;
    display: flex;
    justify-content: center;
    gap: 30px;
}
#menu>.cat{
    padding: 7px;
    border-radius: 15px;
    width: 7vw;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.cat>div{
    z-index: -10;
    width: 100%;
    display: none;
    transition: .5s;
}

a {
    transition: background-color .5s;
    width: 100%;
    padding: 7px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover, .dd>a:hover {
    background-color: #91c7e8;
}

main {
    display: flex;
    justify-content: center;
    padding: 0.5em 5em;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover~div, .cat>div:hover{
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.dd>a{
    width: 100%;
    height: 4vh;
    background-color: #000;
    color: #fff;
    border-radius: 0;
    background-color: #4A90E2;
    border-top: #fff 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.dd>a:first-of-type{
    margin-top: 10px;
    border-top: 0;
}

/* -----------------------------------------*/

main {
    display: flex;
    justify-content: center;
    padding: 0.5em 5em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5em;
}

.cuaderno {
    display: flex;
    margin: 2em;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    position: relative;
    max-width: 1250px;
    width: 90%;
}

.pagina {
    flex: 1;
    padding: 2em;
    min-height: 500px;
    background-image: linear-gradient(#e5e5f7 1px, transparent 1px);
    background-size: 100% 2em;
}

.pagina-izquierda {
    border-right: 2px solid #ff9999;
}

h3 {
    font-size: 1.5em;
    color: #4a90e2;
    margin-bottom: 1em;
    font-weight: 500;
}

.contenido-ejercicio {
    font-size: 1.2em;
    line-height: 2em;
}

.enunciado-ejercicio {
    font-size: 1.2em;
    line-height: 2em;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.caja-opciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border: 2px solid black;
}

#fotosFamiliares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.caja-familiar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-top: 1em;
    padding: 5px 10px;
}

.caja-familiar img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

#respuestas {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
}

.campo-respuesta {
    width: 90%;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 2px solid #4a90e2;
    border-radius: 8px;
    font-size: 1em;
}

.caja-respuesta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-right: 10%;
}

.caja-respuesta input {
    width: 55%;
}

textarea {
    resize: none;
    height: 10em;
}

/* EJERCICIO 9 ---------------------------------------*/

#caja-opciones-e9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border: 2px solid black;
    width: 40%;
}

/*Crucigrama ----- */

#crucigrama {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    gap: 2px;
    padding: 20px;
    width: fit-content;
}

.celda {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background: white;
}

#crucigrama input {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    box-sizing: border-box;
}

.letra-fija {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}

.vacia {
    border: none;
    background: transparent;
}

/* EJERCICIO 12 Y 13 ---------------------------------------*/

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4a90e2;
    color: white;
}

td input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px dotted #4a90e2;
    text-align: center;
    font-size: 1em;
    padding: 5px 10px;
    background-color: transparent;
}

/* EJERCICIO 14---------------------------------------*/

.input-e14 {
    width: 20%;
    border: none;
    border-bottom: 2px dotted #4a90e2;
    font-size: 1em;
    padding: 5px 10px;
    background-color: transparent;
}

#lista-respuestas-e14 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

#lista-respuestas-e14 li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* EJERCICIO 22---------------------------------------*/

#caja-opciones-e22 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#caja-opciones-e22 ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* EJERCICIO 29 y 30---------------------------------------*/

#textarea-e22_y_e29 {
    resize: none;
    margin-top: 2em;
    height: 15em;
    width: 100%;
    padding: 1em;
    font-size: 16px;
}

#caja-opciones-e29 {
    margin-left: 2em;
}

#respuestas-e30 {
    display: flex;
    flex-direction: column;
}

.area-dibujo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2em;
}

.dibujo {
    width: 100%;
    height: 20em;
    border: 1px solid black;
    background-color: white;
}

/* BOTÓN COMPROBAR RESPUESTA ---------------------------------------*/

.btn-enviar {
    background-color: #00C69A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 1em;
    width: 40%;
}

.btn-enviar:hover {
    background-color: #00a582;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
    height: 5em;
    background-color: #6397d0;
    color: white;

    --mask:
    radial-gradient(26.91px at 50% 38px,#000 99%,#0000 101%) calc(50% - 40px) 0/80px 100%,
    radial-gradient(26.91px at 50% -18px,#0000 99%,#000 101%) 50% 20px/80px 100% repeat-x;
    -webkit-mask: var(--mask);
          mask: var(--mask);

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
