body{
    margin: 0;
}
header{
    background-color: #000;
    animation: headeron 0.3s linear 1;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    --mask:
    radial-gradient(67.08px at 50% calc(100% - 90px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(67.08px at 50% calc(100% + 60px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

header h1{
    margin-top: -2vh;
}

footer{
    background-color: #000;
    animation: footeron 0.3s linear 1;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    --mask:
    radial-gradient(26.83px at 50% 36px,#000 99%,#0000 101%) calc(50% - 24px) 0/48px 100%,
    radial-gradient(26.83px at 50% -24px,#0000 99%,#000 101%) 50% 12px/48px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

footer h2{
    margin-top: 5vh;
}

@keyframes headeron {
    0%{
        margin-top: -30vh;
    }
    100%{
        margin-top: 0;
    }
}
@keyframes footeron {
    0%{
        margin-bottom: -30vh;
    }
    100%{
        margin-bottom: 0;
    }
}

@media screen {
    
}